*{
  padding: 0;
  margin:0;
  font-family: 'josefin sans', sans serif;
  box-sizing: border-box;
 
}

body{
  background-color: burlywood;;
}

.start {
height:75vh;
width:100%;
background-image: url("https://preview.redd.it/4vtp227hdjna1.jpg?width=640&crop=smart&auto=webp&v=enabled&s=7f1c5a12fdb5635c390aa63e5bfd5956f3d31a5c");
background-size: cover;
background-position: center;
}

.name{
  color: burlywood;
  font-size:54px;
  letter-spacing:1px;
  cursor:pointer;
  font-weight:bold;
  text-align:center;
  writing-mode:tb-rl;
  -webkit-transform:rotate(180deg);
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: white;
  
}
.container-fluid{
  background-color:black;
}

.navbar{
  background-color:black;
}

nav ul li{
  list-style-type: none;
  display:inline-block;
  padding: 8px 100px;
  font-size: 40px;
  text-decoration:none;
  text-transform:capitalize;
  font-weight:bold;
  text-align: center;
  

}

nav ul li a{
  color:burlywood;
  font-size: 75;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  text-align:center;
  
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

.btn{
  background-color:rgb(128, 81, 21);
  color:black;
  text-decoration:none;
  border: 2px solid;
  font-weight: bold;
  padding: 10px 25px;
  

}

.welcome{
  background-color:transparent;
  font-weight:bold;
  text-align:center;
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: black;
  color:burlywood;
  text-transform:capitalize;
  padding: 100px 0px 0px 950px; 
  


}
.pic{
  background-color:black;
  text-align: center;
}

.info{
background-color:black;
color:white;
font-size: 20px;
text-align: center;

}


.infocard{
  background-color:black;
  background:burlywood;
  color:white;
  width:100%;
  padding: 100px 0px;
}

.title h2{
  color:black;
  font-size:65;
  width:1130px;
  margin: 30px auto;
  text-align:center;
}

.box{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:400px;

}

.card{
  height:365px;
  width:335px;
  padding:20px 35px;
  background:white;
  border-radius:20px;
  border-color:black;
  border-width:10px;
  margin:15px;
  position:relative;
  overflow:hidden;
  text-align:center;

}

.devlife{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:400px;

}

.cards{
  height:800px;
  width:800px;
  padding:20px 35px;
  background:black;
  border-radius:20px;
  border-color:white;
  border-width:10px;
  margin:15px;
  position:relative;
  overflow:hidden;
  text-align:center;

}

.cards h4{
  font-size:34px;
  font-weight:bold;
  color:burlywood;
  text-decoration:underline;
}


.card i{
  font-size: 65px;
  display:block;
  text-align:center;
  margin: 25px 0px;
  color:burlywood;


}

h5{
  color:burlywood;
  font-size:23px;
  margin-bottom:15px;

}

.pra ul{
  color: burlywood;
  font-size:16px;
  line-height:27px;
  margin-bottom:25px;
}

.cardss{
  height:775px;
  width:500px;
  padding:20px 35px;
  background:black;
  border-radius:20px;
  border-color:white;
  border: width 100px ;
  margin:15px;
  position:relative;
  overflow:hidden;
  text-align:center;
}


.verify{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:400px;
}

.cardss i{
  font-size: 65px;
  display:block;
  text-align:center;
  margin: 25px 0px;
  color:burlywood;
  padding-bottom:150px;


}

.cardss h4{
  text-align:center;
  font-size:30px;
  color:burlywood;
}